body {
  margin: 50px;
}
/**
 * Represents card products.
 *
 */
.card-product {
  border: 1px solid;
  border-color: grey;
  max-width: 265px;
  min-width: 265px;
  max-height: 400px;
  min-height: 400px;
  cursor: pointer;
  margin: 10px;
}
/**
 * Represents image.
 *
 */

.card-image {
  max-width: 265px;
  min-width: 265px;
  max-height: 265px;
  min-height: 265px;
}
/**
 * Represents a category.
 */
.card-category {
  font-size: 14px;
  margin: 8px;
  text-transform: uppercase;
  color: grey;
}
/**
 * Represents a title.
 
 */
.card-title {
  font-size: 20px;
  margin: 8px;
  font-weight: bold;
}
/**
 * Represents a price.

 */
.card-price {
  font-size: 15px;
  margin: 8px;
  color: grey;
}

.card-star-rating {
  margin: 8px;
}

.card-star {
  margin: 1px;
}
/**
 * Represents star card in top right of the card.

 */
.card-star-top {
  position: absolute;
  margin-top: 15px;
  margin-left: 230px;
}

.card-star-top:hover {
  color: orange;
}

.card-star:hover {
  color: orange;
}

.remove {
  position: absolute;
  margin-top: 15px;
  margin-left: 230px;
}
.remove:hover {
  color: red;
}

.fa-check {
  color: gray;
}

/**
 * Represents a modal comparison.

 */
.comparison-modal {
  position: fixed;
  right: 20%;
  margin-top: 2%;
  width: 30%;
  height: 30%;
  overflow: auto;
  background-color:white;

}
/**
 * Represents a text in modal.

 */
h4 {
  margin-left: 40px
}
/**
 * Represents table of modal comparison.

 */
table {
  width: 500px;
}

td {
  text-align: center;
  padding: 10px;
}

td:first-child {
  text-align: center;
}