body {
  margin: 50px;
}
/**
 * Represents card products.
 *
 */
.card-product {
  border: 1px solid;
  border-color: grey;
  max-width: 700px;
  min-width: 265px;
  max-height: 600px;
  min-height: 600px;
  cursor: pointer;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40;
 

}
/**
 * Represents image.
 *
 */

.card-image {
  max-width: 400px;
  min-width: 400px;
  max-height: 400px;
  min-height: 400px;
}
/**
 * Represents a category.
 */
.card-category {
  font-size: 14px;
  margin: 8px;
  text-transform: uppercase;
  color: grey;
}
/**
 * Represents a title.
 
 */
.card-title {
  font-size: 20px;
  margin: 8px;
  font-weight: bold;
}
/**
 * Represents a price.

 */
.card-price {
  font-size: 15px;
  margin: 8px;
  color: grey;
}

.card-star-rating {
  margin: 8px;
}

.card-star {
  margin: 1px;

}
/**
 * Represents star card in top right of the card.

 */
.card-star-top {
  position: absolute;
  margin-top: 15px;

  /* margin-left: 230px; */
}

.card-star-top:hover {
  color: orange;
}

.card-star:hover {
  color: orange;
}
.star1{
  visibility: hidden;
  font-family: 30px;
  cursor: pointer;
  font-size: 40px;
  position: relative;
  left: 344px;
  top: -396px;
  color: rgb(47, 129, 22);
  
}
.star1:before{
  content: "\2606";
  position: absolut;
  visibility: visible;
}
.star1:checked:before{
  content: "\2605";
  position: absolute;
  visibility: visible;
}
.Delete {
  color: blue;
  width:20px;
  height:20px;

}

.modal fade {
  width: 100px;
}
.col{
  display: flex;

}
.modal-content {
width: 50vw;


}
.modal-dialog{
  
  z-index: 9;
  margin-bottom: 5px;
  

}